{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section mt-2">
        <h1 text-align='center'>Hey there!</h1>
            <br>
            <p>I am Alicja Pason, I live in Ashbourne, Ireland and I welcome you on my blog! Idea behind this blog is quite simple - to share any valuable information which, in my opinion, is worth sharing. I also welcome others to share different sorts of culinary (but not limited to) recipes, herb information, phytotherapy and health related stuff. Also, plenty of room for thought expression and opinions about anything really.</p><br>
            <h2>Posting</h2>
            <p>Posting is for registered users, I suggest you provide a solid written content and supplement it with relevant photos/videos. There is a section called "Image/Thumbnail" in "New Post" which will display the photo of your choosing as your "main image" of the post. You can also add more text / photos / videos with 'summernote' text editor included.
            </p><br>
            <h2>Categories</h2>
            <p>One of the required fields for new posts is category section. There are only few, however, complex compartmentalization is not needed as it should be easy to pick one general category your post.
            </p><br>
            <h2>Moderation</h2>
            <p>Latin word <i>'moderare'</i> - to control - conveys the way in which posts should be structured and presented to the public - meaning you are a guest on this website and content that will be deemed unappropriate for this kind of blog will be deleted and users posting such may be banned.
            </p><br>
            <h2>Contact Us</h2>
            <p>Please use "Contact Us" form which is located either on the right sidebar (desktops) or at the very bottom of every page (mobile).
            </p><br>
    </div>
{% endblock content %}
