{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section mt-2">
        <h1 text-align='center'>Hey there!</h1>
            <p> Welcome to my blog, where like-minded people can share different sorts of culinary (but not limited to) recipes, herb information, phytotherapy and health related stuff.</p><br>
            <h2>Posting</h2>
            <p>Posting is for registered users, I suggest you provide a solid written content and supplement it with relevant photos/videos. There is a section called "Image/Thumbnail" in a "New Post" form which will display the photo of your choosing as your main image and thumbnail in the main page.
            </p><br>
            <h2>Categories</h2>
            <p>Latin word <i>'moderare'</i> - to control - conveys the way in which posts should be structured and presented to the public - meaning you are a guest on this website and content that will be deemed unappropriate for this kind of blog will be deleted and users posting such may be banned.
        </p><br>
            <h2>Moderation</h2>
            <p>Latin word <i>'moderare'</i> - to control - conveys the way in which posts should be structured and presented to the public - meaning you are a guest on this website and content that will be deemed unappropriate for this kind of blog will be deleted and users posting such may be banned.
        </p><br>
    </div>
{% endblock content %}
