{% extends "blog/base.html" %}
{% block mt %} mt-2 {% endblock mt %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img d-none d-sm-block" src="{{ user.profile.image.square }}">
        <img class="rounded-circle account-img-small d-block d-sm-none " src="{{ user.profile.image.square }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
              {% if p_form.image.errors %}
                <div class="alert alert-info">
                  {{ p_form.image.errors }}
                </div>
              {% endif %}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}

